* {
  box-sizing:border-box;
}

#holder {
  display: grid;
  grid-template-areas: 
  "title title title title title"
  "aside bob bob fred fred"
  "aside left leftmiddle rightmiddle right"
  "aside footer footer footer footer" ;
}

#a {
  grid-area: title;
  height: 100px;
  background-color: blue;
}

#b {
  grid-area: aside;
  height: 600px;
  background-color: grey;
}

#c, #d {
  height: 200px;
}

#c {
  grid-area: bob;
  background-color: green;
}

#d {
  grid-area: fred;
  background-color: indigo;
}

#e, #f, #g, #h {
  height: 250px;
}

#e {
  grid-area: left;
  background-color: indianred;
}

#f {
  grid-area: leftmiddle;
  background-color: hotpink;
}

#g {
  grid-area: rightmiddle;
  background-color: gold;
}

#h {
  grid-area: right;
  background-color: dodgerblue;
}

#i {
  grid-area: footer;
  height: 150px;
  background-color: darkslategrey;
}

div {
  border:1px solid #000;
}
  
  @media (max-width: 520px) {
  
    #holder {
      display: grid;
      /* grid-template-columns: 1fr, 1fr;
      grid-template-rows: auto 1fr 1fr; */
      grid-template-areas: 
      "title title"
      "middle middle"
      "other other"
      "fred fred"
      "left right"
      "otherleft otherright"
      "footer footer" ;
    }


    #a {
      grid-area: title;
      height: 75px;
      background-color: darkred;
    }

    #b {
      grid-area: middle;
      height: 150px;
      background-color: darkorchid;
    }
    
    #c {
      grid-area: other;
      height: 125px;
      background-color: darkkhaki;
    }

    #d {
      grid-area: fred;
      height: 125px;
      background-color: darkcyan;
    }

    #e, #f, #g,#h {
      height: 250px;
    }

    #e {
      grid-area: left;
      background-color: cyan;
    }

    #f {
      grid-area: right;
      background-color: crimson;
    }

    #g {
      grid-area: otherleft;
      background-color: cadetblue;
    }

    #h {
      grid-area: otherright;
      background-color: pink;
    }

    #i {
      grid-area: footer;
      height: 80px;
      background-color: papayawhip;
    }
    
  }